In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [78]:
data_path = "../data/BOLT Data Set.xlsx"
og_df = pd.read_excel(data_path)
og_df.head()

,Card Identifier,Transaction Date,Transaction Time,Risk Assessment,Payment Method,Transaction Value,Merchant Location,Card Present Status,Chip Usage,Cross-border Transaction (Yes/No),Acquiring Institution ID,Merchant Identifier,Merchant Category Code (MCC),Fraud Indicator (Yes/No)
0,card 1,2023-05-11,16:22:14.0,362.0,Paypass - Contactless,13.98,USA,CP,Yes,No,acquirer 1,merchant 1,5812.0,No
1,card 2,2023-06-05,15:16:35.0,602.0,Online,24.64,USA,CNP,No,No,acquirer 2,merchant 2,4121.0,No
2,card 3,2023-06-05,11:57:40.0,482.0,Unknown,15.00,USA,CNP,No,No,acquirer 3,merchant 3,7211.0,No
3,card 4,2023-07-20,18:26:30.0,947.0,Online,30.56,USA,CNP,No,No,acquirer 1,merchant 4,5814.0,No
4,card 5,2023-03-03,19:03:11.0,1382.0,Magnetic Stripe,50.85,USA,CP,No,No,acquirer 4,merchant 1,5812.0,No

In [79]:
df = og_df.copy()

In [80]:
df.head()

,Card Identifier,Transaction Date,Transaction Time,Risk Assessment,Payment Method,Transaction Value,Merchant Location,Card Present Status,Chip Usage,Cross-border Transaction (Yes/No),Acquiring Institution ID,Merchant Identifier,Merchant Category Code (MCC),Fraud Indicator (Yes/No)
0,card 1,2023-05-11,16:22:14.0,362.0,Paypass - Contactless,13.98,USA,CP,Yes,No,acquirer 1,merchant 1,5812.0,No
1,card 2,2023-06-05,15:16:35.0,602.0,Online,24.64,USA,CNP,No,No,acquirer 2,merchant 2,4121.0,No
2,card 3,2023-06-05,11:57:40.0,482.0,Unknown,15.00,USA,CNP,No,No,acquirer 3,merchant 3,7211.0,No
3,card 4,2023-07-20,18:26:30.0,947.0,Online,30.56,USA,CNP,No,No,acquirer 1,merchant 4,5814.0,No
4,card 5,2023-03-03,19:03:11.0,1382.0,Magnetic Stripe,50.85,USA,CP,No,No,acquirer 4,merchant 1,5812.0,No

In [82]:
from datetime import datetime
def fix_time(time_str):
    og_time = time_str
    if time_str == "na:n:":
        return np.nan
    try:
        time_str = time_str.replace(":", "").replace(".0", "")
        time_str = '{:0>{}}'.format(time_str, 6)
        time_fixed = datetime.strptime(time_str, '%H%M%S').strftime('%H:%M:%S')

        return time_fixed

        while len(time_str) < 6:
            time_str
    
        if len(time_str) == 5:
            time_str = "0" + time_str
        elif len(time_str) == 4:
            time_str = "0" + time_str + "0"

        # return time_str
    
        time_fixed = datetime.strptime(time_str, '%H%M%S') #.strftime('%H:%M:%S')
        # formatted_time = time_fixed
    
        return time_fixed
    except Exception as e:
        print(e)
        print(og_time)

In [83]:
df['Transaction Time Fixed'] = df['Transaction Time'].apply(fix_time)

In [84]:
df[['Transaction Time', 'Transaction Time Fixed']]

      Transaction Time Transaction Time Fixed
0           16:22:14.0               16:22:14
1           15:16:35.0               15:16:35
2           11:57:40.0               11:57:40
3           18:26:30.0               18:26:30
4           19:03:11.0               19:03:11
...                ...                    ...
99995       13:23:04.0               13:23:04
99996       17:25:55.0               17:25:55
99997        51:24:5.0               05:12:45
99998       11:05:52.0               11:05:52
99999       19:41:37.0               19:41:37

[100000 rows x 2 columns]

In [86]:
import pandas as pd

# Sample data
data = {'Transaction Time': ['50:35:7.0', '81:00:6.0', '23:00:.0', '13:04:.0', '19:03:11.0', '18:04:28.0', '21:42:49.0', '61:74:8.0', '80:05:4.0', '19:22:06.0', '15:58:41.0', '16:49:20.0']}
df = pd.DataFrame(data)

# Convert "Transaction Time" column to datetime format
# df['Transaction Time'] = pd.to_datetime(df['Transaction Time'], format='%H:%M:%S.%f', errors='coerce')

# # Function to correct misformatted values
# def fix_time(time_str):
#     parts = time_str.split(':')

#     if int(parts[0]) > 23:
        

    
#     if len(parts) == 3:
#         hours = int(parts[0])
#         minutes = int(parts[1])
#         seconds = int(parts[2].split('.')[0])
#         return '{:02d}:{:02d}:{:02d}'.format(hours % 24, minutes, seconds)
#     else:
#         return time_str
from datetime import datetime
def fix_time(time_str):
    og_time = time_str
    if time_str == "na:n:":
        return np.nan
    try:
        time_str = time_str.replace(":", "").replace(".0", "")
        time_str = '{:0>{}}'.format(time_str, 6)
        time_fixed = datetime.strptime(time_str, '%H%M%S').strftime('%H:%M:%S')

        return time_fixed

        while len(time_str) < 6:
            time_str
    
        if len(time_str) == 5:
            time_str = "0" + time_str
        elif len(time_str) == 4:
            time_str = "0" + time_str + "0"

        # return time_str
    
        time_fixed = datetime.strptime(time_str, '%H%M%S') #.strftime('%H:%M:%S')
        # formatted_time = time_fixed
    
        return time_fixed
    except Exception as e:
        print(e)
        print(og_time)
    

# Apply the fix_time function to the column
df['Transaction Time Fixed'] = df['Transaction Time'].apply(fix_time)

# Convert the column back to datetime format
# df['Transaction Time'] = pd.to_datetime(df['Transaction Time'], format='%H:%M:%S.%f')

print(df)

   Transaction Time Transaction Time Fixed
0         50:35:7.0               05:03:57
1         81:00:6.0               08:10:06
2          23:00:.0               00:23:00
3          13:04:.0               00:13:04
4        19:03:11.0               19:03:11
5        18:04:28.0               18:04:28
6        21:42:49.0               21:42:49
7         61:74:8.0               06:17:48
8         80:05:4.0               08:00:54
9        19:22:06.0               19:22:06
10       15:58:41.0               15:58:41
11       16:49:20.0               16:49:20

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction Time        12 non-null     object
 1   Transaction Time Fixed  12 non-null     object
dtypes: object(2)
memory usage: 320.0+ bytes